/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');*/
*{
    font-family: "Monserrat",sans-serif;
}
.peliculas{
    color:darkcyan;
    margin:0px 10px;
}
.peliculas img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
}
.contenedorPeliculas{
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    max-width: 1000px;
}
.peliculas p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}
h3{
    font-size: 16px;
    font-weight: 600;
}
#exito{
    background-color: #28a745;
}
#duplicada{
    background-color: #ffc107;
}
#error{
    background-color: #dc3545;
}